div.hero-container#hero-container-dunleigh
{
    background-image: url("../../trails/heritage/locations/dunleigh/assets/img/hero.jpg");
}

nav#trail menu li#trail-nav-fleming-hall
{
    background-image: url("../../trails/heritage/locations/fleming-hall/assets/img/trail-nav-cropped.jpg");
}

nav#trail menu li#trail-nav-plum-garden
{
    background-image: url("../../trails/heritage/locations/plum-garden/assets/img/trail-nav-original.jpg");
}
